nav(class="fixed-top navbar navbar-expand-lg navbar-light bg-light")
  a(class="navbar-brand" href="index.html") Rompecabeza UX
  button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
 
  div(class="collapse navbar-collapse" id="navbarText")
    ul(class="navbar-nav mr-auto")
      li(class="nav-item" class=state1) 
        a(class="nav-link" href="validaciones.html") Validaciones 
      li(class="nav-item" class=state2) 
        a(class="nav-link" href="acordeon.html") Acordeón
      //- li(class="nav-item")
      //-   a(class="nav-link" href="#") Pricing